# Dependencies
node_modules
build
build_production

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.development
!.env*.production
resources/static/assets/uploads/temp/*

# Code coverage
coverage

.vscode